@import "tailwindcss";
@import "@radix-ui/colors/sand.css";

@theme {
  --color-sand-1: var(--sand-1);
  --color-sand-2: var(--sand-2);
  --color-sand-3: var(--sand-3);
  --color-sand-4: var(--sand-4);
  --color-sand-5: var(--sand-5);
  --color-sand-6: var(--sand-6);
  --color-sand-7: var(--sand-7);
  --color-sand-8: var(--sand-8);
  --color-sand-9: var(--sand-9);
  --color-sand-10: var(--sand-10);
  --color-sand-11: var(--sand-11);
  --color-sand-12: var(--sand-12);

  --color-primary: #ff5d01;

  --text-sm: 0.875rem;
  --text-base: 0.9375rem;

  --font-mono: "Geist Mono Variable", monospace;
}

*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-sand-4);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-sand-8);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-sand-10);
}

html {
  scrollbar-width: thin;
}

body {
  @apply bg-sand-4 text-sand-12 cursor-default select-none overflow-hidden font-mono text-base antialiased;
}
